<%- model_class = Instructor -%>
<div class="page-header">
  <h1>Instructores</h1>
</div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>nombres</th>
      <th>cedula</th>
      <th>email</th>
      <th>direccion</th>
      <th>telefono</th>
      <th>fch_nacimiento</th>
      <th>acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @instructores %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Instructor', new_instructor_path, :class => 'btn btn-success', :remote => true %></td>
    </tr>
  </tfoot>
</table>
